<launch>
    <arg name="show" default="false" />
    <arg name="depth_config" default="$(find quadcam_depth_est)/../config/new_quadcam/quadcam_depth_generation.yaml"/>
    <arg name="output" default="screen" />
    <node pkg="quadcam_depth_est" type="quadcam_depth_est_node" name="quadcam_depth_est" output="$(arg output)" >
        <param name="show" value="$(arg show)"/>
        <param name="depth_config" value="$(arg depth_config)"/>
    </node>
</launch>