<launch>
    <arg name="is_4dof" default="true" />
    <arg name="solver_type" default="arock" />
    <arg name="g2o_path" default="" />
    <arg name="output_path" default="" />
    <arg name="wait_for_start" default="true" />
    <arg name="max_solver_time" default="0.5" />
    <arg name="max_steps" default="10" />
    <arg name="agent_num" default="2" />
    <arg name="delay_launch" default="0.5" />
    <arg name="rho_frame_T" default="0.01" />
    <arg name="rho_frame_theta" default="0.01" />

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 0)" >
        <arg name="self_id" value="0" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/0.g2o" />
        <arg name="output_path" value="$(arg output_path)/0.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 1)" >
        <arg name="self_id" value="1" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/1.g2o" />
        <arg name="output_path" value="$(arg output_path)/1.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 2)" >
        <arg name="self_id" value="2" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/2.g2o" />
        <arg name="output_path" value="$(arg output_path)/2.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 3)" >
        <arg name="self_id" value="3" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/3.g2o" />
        <arg name="output_path" value="$(arg output_path)/3.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 4)" >
        <arg name="self_id" value="4" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/4.g2o" />
        <arg name="output_path" value="$(arg output_path)/4.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>

    <include file="$(find d2pgo)/launch/d2pgo_test_single.launch" if="$(eval arg('agent_num') > 5)" >
        <arg name="self_id" value="5" />
        <arg name="is_4dof" value="$(arg is_4dof)" />
        <arg name="solver_type" value="$(arg solver_type)" />
        <arg name="g2o_path" value="$(arg g2o_path)/5.g2o" />
        <arg name="output_path" value="$(arg output_path)/5.g2o" />
        <arg name="wait_for_start" value="$(arg wait_for_start)" />
        <arg name="max_solver_time" value="$(arg max_solver_time)" />
        <arg name="max_steps" value="$(arg max_steps)" />
        <arg name="rho_frame_T" value="$(arg rho_frame_T)" />
        <arg name="rho_frame_theta" value="$(arg rho_frame_theta)" />
    </include>
    <node name="d2pgo" pkg="d2pgo" type="delay_launch_dpgo.sh" args="$(arg delay_launch)" if="$(arg wait_for_start)" />
</launch>