<launch>
    <arg name="self_id" default="1" />
    <arg name="is_4dof" default="true" />
    <arg name="solver_type" default="arock" />
    <arg name="g2o_path" default="" />
    <arg name="output_path" default="" />
    <arg name="wait_for_start" default="false" />
    <arg name="max_solver_time" default="0.5" />
    <arg name="max_steps" default="10" />
    <arg name="rho_frame_T" default="0.006" />
    <arg name="rho_frame_theta" default="0.02" />
    <arg name="eta_k" default="0.9" />

    <node name="d2pgo_test_$(arg self_id)" pkg="d2pgo" type="d2pgo_test" output="screen" >
        <param name="self_id" value="$(arg self_id)" type="int" />
        <param name="is_4dof" value="$(arg is_4dof)" type="bool" />
        <param name="solver_type" value="$(arg solver_type)" type="string" />
        <param name="g2o_path" value="$(arg g2o_path)" type="string" />
        <param name="output_path" value="$(arg output_path)" type="string" />
        <param name="wait_for_start" value="$(arg wait_for_start)" type="bool" />
        <param name="max_solver_time" value="$(arg max_solver_time)" type="double" />
        <param name="max_steps" value="$(arg max_steps)" type="int" />
        <param name="rho_frame_theta" value="$(arg rho_frame_theta)" type="double" />
        <param name="rho_frame_T" value="$(arg rho_frame_T)" type="double" />
        <param name="eta_k" value="$(arg eta_k)" type="double" />
    </node>
</launch>